<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Untitled" %> </title>
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" charset="utf-8">
  <script src="http://d3js.org/d3.v2.js"></script>  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".flash").slideDown(1600).delay(1000).fadeOut(3600)
    });
  </script>
</head>
<body>
  <div class="content">
    <div class="header">
      <table>
        <tr>
          <% @graphs.each do |graph| %>
            <td>
              <a href="/<%= graph %>"><%= graph %></a>
            </td>
          <% end %>
        </tr>
      </table>
    </div>
    <% %w(notice warning error).each do |key| %>
      <% if flash[key] %>
        <div class="flash flash_<%= key %>">
          <%= flash[key] %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
